<div class="p-8">
  <h2 class="text-ink-primary-w font-medium text-xl mb-2">Restablece tu contraseña</h2>
  <p class="text-ink-secondary-w text-sm">
    Agrega tu correo electrónico para poder verificar tu cuenta.
  </p>

  <form [formGroup]="formService.form" class="mt-8 space-y-4">
    <div class="flex flex-col gap-1.5">
      <label for="email" class="text-sm text-ink-primary-w">Correo electrónico</label>
      <input
        pInputText
        id="email"
        aria-describedby="email-help"
        formControlName="email"
        variant="filled"
        errorMessage
        [showErrors]="formService.showErrorSignal()"
      />
    </div>
    <div>
      <p-button
        label="Solicitar cambio de contraseña"
        fluid
        (onClick)="onForgotPassword()"
      ></p-button>
    </div>
    <div>
      <a class="text-sm text-ink-muted-w cursor-pointer" routerLink="/auth/login"
        >¿Quieres regresar? <span class="text-ink-primary-w hover:underline">Inicia sesión</span></a
      >
    </div>
  </form>
</div>
