@keyframes shrink {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

.toast-progress {
    animation: shrink linear forwards;
    transform-origin: left;
}